*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 200, 226);
    background-image: url(pizza1.gif);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
img {
    max-width: 100%;
    max-height: 100%;
}